/* NORMAL CELL */
.table-view2 > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .tableview2-cell {
    -fx-padding: 0 0 0 0.166667em;
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-background-color;
}

/* ROW-SELECTION */
.table-view2:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused > .tableview2-cell {
    -fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
    -fx-background-insets: 0, 1 0 1 0, 2 0 2 0;
}

.table-view2:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused > .tableview2-cell:left {
    -fx-background-insets: 0, 1 0 1 1, 2 0 2 2;
}

.table-view2:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused > .tableview2-cell:right {
    -fx-background-insets: 0, 1 1 1 0, 2 2 2 0;
}

.table-view2:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused > .tableview2-cell:single {
    -fx-background-insets: 0, 1, 2;
}

/* FIXED HEADERS  */
RowHeader > Label.fixed,
NestedTableColumnHeader2 > TableColumnHeader.column-header.table-column.fixed {
    -fx-color: lightgray;
}

/* HORIZONTAL AND VERTICAL HEADER SELECTION */
RowHeader > Label  {
    -fx-background-color: -fx-box-border, -fx-inner-border-horizontal, -fx-body-color-to-right;
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-alignment: center;
    -fx-font-style : normal;
}  

RowHeader > Label.hbar  {
    -fx-background-insets: 0, 1 1 0 0, 2 2 1 1;
}  

RowHeader > Label.selected {
    -fx-color: #8FB1E8;
    -fx-text-fill :white;
}

NestedTableColumnHeader2 > TableColumnHeader.column-header.table-column.selected,
NestedTableColumnHeader2 > TableColumnHeader.column-header.table-column.selected > Label {
    -fx-color: #8FB1E8;
     -fx-text-fill :white;
}  

/* TODO: FILTER */
.table-view2 .tableview2-cell .filter-menu-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 6;
}
.table-view2 .tableview2-cell .filter-menu-button > .label {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.table-view2 .tableview2-cell .filter-menu-button:hover {
    -fx-cursor:hand;
}